<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-end">hola{{persona}}! <a class="btn btn-danger" href="/admin/login/logout">cerrar session<i
                    class="fas fa-sign-out-alt"></i></a></p>
    </div>
    <div class="row">
        <div class="col-7">
            <h3>LISTADO DE NOVEDADES</h3>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fa fa-plus "
                    aria-hidden="true"></i>agregar una nueva novedad</a>
        </div>

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr class="table-dark" >
                            <th scope="row">#</th>
                            <th scope="row">titulo</th>
                            <th scope="row" style="width: 300px;">subtitulo</th>
                            <th scope="row" style="width: 5000px;" >novedad</th>
                            <th class="text-end" style="width: 900px;">Acciones</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#each novedades}}
                        <tr>
                            <th scope="row" style="/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
background: linear-gradient(135deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
"></th>
                            <td style="background-color:cadetblue;">{{titulo}}</td>
                            <td>{{subtitulo}}</td>
                            <td style="/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
background: linear-gradient(135deg,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
">{{novedad}}</td>
                            <td class="text-end">
                               
                               
                                <a class="btn btn-secondary" href="/admin/novedades/modificar/{{id}}"><i class="fa fa-pencil"
                                        aria-hidden="true"></i></a><p>modificar</p>
                                <a class="btn btn-secondary" href="/admin/novedades/eliminar/{{id}}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a><p>borrar</p>
                               
                            </td>
                             
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
